<p class="para">Asked for your data? Well here it is!</p>
    {{#each temp}}
    <p>Contact Name = {{this.name}},</p>
    <p> Contact Email = {{this.email}} </p>
    <p>Contact Mobile = {{this.mobile}} </p><br/>
    {{/each}}
<h2>Phew That's all your data!</h2>